<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.0/phpunit.xsd"
         colors="true"
         beStrictAboutChangesToGlobalState="true"
         forceCoversAnnotation="true"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="event sourced user login domain">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
